<h2>design work</h2>
<h3 class="large-margin">A collection of miscellaneous designs from over the years.</h3>
<a href="https://dribbble.com/dominicdale" class="overlay-button">Visit dribbble</a>

<div class="split">
  <picture>
      <source srcset="img/tic_small.webp" type="image/webp">
      <source srcset="img/tic_small.png" type="image/png">
      <img src="img/jtic_small.webp"/>
    </picture>
  <h4>tic website design</h4>
  <p>A landing page for an app ross mcmillan and I are developing. My goal was to present the app's features with a clean design and bold colours, giving the user information about the app and highlighting areas to register. This project is a work in progress.</p>
  <div class="link-container">
    <a href="https://dribbble.com/shots/1634729-tic-Website-Design">Dribbble</a>
    <a href="/img/ticWebsiteLarge.jpg">Full size</a>
  </div>
</div>

<div class="split">
  <picture>
      <source srcset="img/music_small.webp" type="image/webp">
      <source srcset="img/music_small.png" type="image/png">
      <img src="img/music_small.webp"/>
    </picture>
  <h4>music player concept</h4>
  <p>A music player concept for Android, drawing influences from iOS7 and windows phone. I kept the interface minimal, pulling images related to the music and focusing on simple, easy to use controls.</p>
  <div class="link-container">
    <a href="http://dribbble.com/shots/1292341-Music-Player">Dribbble</a>
    <a href="/img/music_player_full.png">Full size</a>
  </div>
</div>

<div class="split">
  <picture>
      <source srcset="img/tic_app.webp" type="image/webp">
      <source srcset="img/tic_app.png" type="image/png">
      <img src="img/tic_app.webp"/>
    </picture>
  <h4>tic - money management</h4>
  <p>tic is a collaboration between ross mcmillan and I, aimed to provide an easy way to manage money between friends and family. This project is a work in progress.</p>
  <div class="link-container">
    <a href="#" class="coming-soon">Full size</a>
  </div>
</div>

<div class="split">
  <picture>
      <source srcset="img/chat_small.webp" type="image/webp">
      <source srcset="img/chat_small.png" type="image/png">
      <img src="img/chat_small.webp"/>
    </picture>
  <h4>chat application</h4>
  <p>A desktop chat application concept. It features a minimalistic approach to messaging, stripping away unnecessary features and focusing on the chat.</p>
  <div class="link-container">
    <a href="https://dribbble.com/shots/1525212-Chat-App">Dribbble</a>
    <a href="/img/Chat_full.jpg">Full size</a>
  </div>
</div>

<div class="split">
  <picture>
      <source srcset="img/nhs_small.webp" type="image/webp">
      <source srcset="img/nhs_small.png" type="image/png">
      <img src="img/nhs_small.webp"/>
    </picture>
  <h4>mental health foundation</h4>
  <p>A website which I designed as part of a job application for my previous post within NES. I built the site with a responsive layout to allow better viewing on mobile devices, and a clean design to highlight important content.</p>
  <div class="link-container">
    <a href="#" class="coming-soon">Visit</a>
  </div>
</div>
