<h2>Factory73</h2>
<h3 class="large-margin">Inventive, innovative, robust websites and systems.</h3>
<a href="http://www.factory73.com" class="overlay-button">Visit Site</a>
<picture>
  <source srcset="img/factory-homepage.webp" type="image/webp" class="main">
  <source srcset="img/factory-homepage.png" type="image/png" class="main">
  <img src="img/factory-homepage.webp" class="main"/>
</picture>
<picture>
  <source srcset="img/factory-work.webp" type="image/webp" class="main">
  <source srcset="img/factory-work.png" type="image/png" class="main">
  <img src="img/factory-work.webp" class="main"/>
</picture>
