<h2>Frog</h2>
<h3>Localised service directories for health &amp; support and businesses.</h3>
<a href="#" class="overlay-button">Visit Site</a>
<picture>
  <source srcset="img/frog2.webp" type="image/webp" class="main">
  <source srcset="img/frog2.png" type="image/png" class="main">
  <img src="img/frog2.webp" class="main"/>
</picture>
<p>A website I designed and helped develop with <a href="#">Factory73</a> &amp; Frog. The design focuses on making discovery as easy as possible, with emphasis on search and simple navigation. </p>
<picture>
  <source srcset="img/frog3.webp" type="image/webp" class="main">
  <source srcset="img/frog3.png" type="image/png" class="main">
  <img src="img/frog3.webp" class="main"/>
</picture>
<p>Each local authority can customise their page to make it more unique and relevant to their area, giving the site a fresh look for each area you visit.</p>
<picture>
  <source srcset="img/frog4.webp" type="image/webp" class="main">
  <source srcset="img/frog4.png" type="image/png" class="main">
  <img src="img/frog4.webp" class="main"/>
</picture>
