<h2>Frog</h2>
<h3>Localised service directories for health &amp; support and businesses.</h3>
<a href="#" class="overlay-button">Visit Site</a>
<img src="img/cpd.webp" class="main" />
<p>A website I designed and helped develop with <a href="#">Factory73</a>. The design
focuses on making the navigation of the site as easy as possible, with emphasis
on discovery with the mega-nav and search.</p>
<div class="diagonal-bg">
  <div class="mobile-tablet-container">
    <img src="img/cpd_iphone2.webp" />
    <img src="img/cpd_ipad.webp" />
  </div>
</div>
<p>The site is built on umbraco and offers an easy to use interface to manage
and maintain content. It's also fully responsive for a great experience on a range of devices and screen sizes.</p>
<img src="img/cpd_page.webp" class="main" />
