<h2>John Dale</h2>
<h3>A website for my dad showcasing his latest artwork.</h3>
<a href="http://johndale.gallery" class="overlay-button">Visit Site</a>
<p>A simple gallery website to showcase my dad's latest artwork. The site features a clean, minimal design as to not detract from the artwork itself, and was built on the Umbraco CMS so it's easy to manage and maintain.</p>
<picture>
  <source srcset="img/johndale.webp" type="image/webp" class="main">
  <source srcset="img/johndale.png" type="image/png" class="main">
  <img src="img/johndale.webp" class="main"/>
</picture>
<!-- <div class="diagonal-bg"> -->
  <div class="mobile-tablet-container">
    <picture>
      <source srcset="img/johndale_iphone.webp" type="image/webp">
      <source srcset="img/johndale_iphone.png" type="image/png">
      <img src="img/johndale_iphone.webp"/>
    </picture>
    <picture>
      <source srcset="img/johndale_page.webp" type="image/webp">
      <source srcset="img/johndale_page.png" type="image/png">
      <img src="img/johndale_page.webp" class="right" />
    </picture>
  </div>
<!-- </div> -->
