<h2>John Dale</h2>
<h3>A website for my dad showcasing his latest artwork.</h3>
<a href="#" class="styleoverlay-button">Visit Site</a>
<img src="img/johndale.gallery-.webp" class="main" />
<div class="two-col">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="mobile-tablet-container">
  <img src="img/johndale.gallery-(iPhone 6).webp" />
  <img src="img/johndale.gallery-still-life-(iPad).webp" />
</div>
