<h2>QMPLE</h2>
<h3>Quality Management of the Practice Learning Environment.</h3>
<p>A website I designed and developed with <a href="#">Tactuum</a> for NHS Education. The system is platform for university and health professionals to manage their student placements.</p>
<picture>
  <source srcset="img/qmple1.webp" type="image/webp" class="main">
  <source srcset="img/qmple1.png" type="image/png" class="main">
  <img src="img/qmple1.webp" class="main"/>
</picture>
<!-- <div class="diagonal-bg"> -->
<picture>
  <source srcset="img/qmple3.webp" type="image/webp" class="main">
  <source srcset="img/qmple3.png" type="image/png" class="main">
  <img src="img/qmple3.webp" class="main"/>
</picture>
<!-- </div> -->
<picture>
  <source srcset="img/qmple4.webp" type="image/webp" class="main">
  <source srcset="img/qmple4.png" type="image/png" class="main">
  <img src="img/qmple4.webp" class="main"/>
</picture>
<!-- <p>The site features a clean and professional administrator side, and a more colourful, fun section for students. It’s fully responsive, with the aim to make it easy for students to manage their feedback forms on the go. </p> -->
