html, body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #eee;
  font-size: 1em;
  color: @text;
  display: flex;
  flex-direction: column;
  @media @mobile {
    font-size: .9em;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  position: relative;
  margin:0 auto;
  @media @desktop-wide {
    padding: 0 30px;
  }
}

main {
  flex: 1;
  margin: 0 0 130px;
}

.wrapper {
  background-color: #FFF;
  box-shadow: 0 0 200px 0 rgba(0,0,0,.1);
  //outline: 50px solid #FFF;
  transition: all ease .4s;
  transition-delay: .4s;
  position: relative;
  &.shrink {
    transform: scale(.8);
    transition-delay: 0s;
    @media @mobile {
      transform: scale(.9);
    }
  }
}
