@font-face {
    font-family: 'iconFont';
    src: url('fonts/websiteIcons.eot'), url('fonts/websiteIcons.ttf') format('truetype'), url('fonts/websiteIcons.woff') format('woff'), url('fonts/websiteIcons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.45em;
  font-weight: 400;
  letter-spacing: -.03em;
  @media @tablet {
    font-size: 2em;
  }
  &.intro {
    max-width: 660px;
    animation: fade 1s linear;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;
    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 3px solid #eee;
    }
  }
}

h2 {
  text-transform: uppercase;
  color: #989d9f;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 20px;
  animation: fade 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 30px;
}

h4 {
  font-size: 1.15em;
  margin-bottom: 20px;
}

p {
  margin:0 0 30px;
  line-height: 1.65em;
}
