h1, h2 {
  margin: 0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.45em;
  font-weight: 400;
  letter-spacing: -1px;
  &.intro {
    max-width: 660px;
  }
}

h2 {
  text-transform: uppercase;
  color: #989d9f;
  font-size: 1em;
  font-weight: 600;
}
