section.gallery {
  margin-top: 100px;
  @media @tablet {
    margin-top: 70px;
  }
  @media @mobile {
    margin-top: 60px;
  }
  .grid {
    column-count: 3;
    column-gap: 30px;
    //max-height: 1200px;
    @media @desktop {
      column-count: 2;
    }
    @media @tablet {
      column-gap: 20px;
    }
    @media @mobile {
      column-count: 1;
    }
  }
  figure {
    background: #efefef;
    overflow: hidden;
    margin: 0 0 30px;
    break-inside: avoid;
    cursor: pointer;
    position: relative;
    opacity: 0;
    animation: fade .8s linear;
    animation-fill-mode: forwards;
    transform: translateX(0); //chrome overflow bug
    -webkit-backface-visibility: hidden;
  	-webkit-transform: scale(1);
    @media @tablet {
      margin: 0 0 20px;
    }
    &:hover {
      figcaption {
        transform: translateY(0);
      }
    }
    img {
      max-width: 100%;
      width: ~"calc(100% - 50px)";
      float: right;
      padding: 50px 0 0 0;
      object-fit: cover;
      object-position: top left;
      // opacity: 0;
      // animation: gallery-img .7s linear;
      // animation-fill-mode: forwards;
      // animation-delay: 1s;
    }
    // figcaption {
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   padding: 20px 40px;
    //   background-color: @dark;
    //   color: #FFF;
    //   font-weight: 600;
    //   transform: translateY(100%);
    //   text-transform: lowercase;
    //   .transition;
    // }
    figcaption {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: @dark;
      color: #FFF;
      font-weight: 600;
      transform: translateX(100%);
      .transition;
    }
    &:nth-child(1) {
      background-color: #c7e8ec;
      animation-delay: 1s;
    }
    &:nth-child(2) {
      background-color: #cbbce6;
      animation-delay: 1.1s;
    }
    &:nth-child(3) {
      background-color: #d1e1af;
      animation-delay: 1.2s;
    }
    &:nth-child(4) {
      background-color: #badfdd;
      animation-delay: 1.3s;
    }
    &:nth-child(5) {
      background-color: #bde1d0;
      animation-delay: 1.4s;
    }
    &:nth-child(6) {
      animation-delay: 1.5s;
      background-color: #b9e4e7;
    }
  }
}
