.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  background-color: #c7e8ec;
  transform: translateY(-100%);
  transition: all ease .4s;
  transition-delay: .3s;
  overflow-y: scroll;
  overflow-x: hidden;
  &.slide {
    transform: translateY(0);
  }
}

.close {
  position: sticky;
  top: 50px;
  right: 50px;
  height: 30px;
  width: 30px;
  float: right;
  cursor: pointer;
  z-index: 100;
  @media @tablet {
    top: 30px;
    right: 30px;
  }
  span.line {
    width: 30px;
    height: 5px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 10px;
    border-radius: 5px;
    .transition;
    &:before, &:after {
      content: '';
      width: 30px;
      height: 5px;
      background-color: lighten(@dark, 20%);
      position: absolute;
      border-radius: 5px;
      .transition;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.overlay-content {
  opacity: 0;
  transition: all ease .5s;
  transition-delay: 0s;
  max-width: 1000px;
  margin:0 auto;
  padding: 100px 30px;
  &.active {
    opacity: 1;
    transition-delay: .5s;
  }
  .overlay-button {
    float: right;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    color: lighten(@text, 10%);
    font-weight: 700;
    border: 2px solid;
    display: inline-block;
    letter-spacing: 0.03em;
    .transition;
    @media @tablet-l {
      float: none;
      margin-bottom: 50px;
    }
    &:hover {
      color: #FFF;
      background-color: @dark;
      border-color: @dark;
    }
  }
  img.main {
    max-width: 100%;
    width: 100%;
    margin-bottom: @content-margin;
    @media @tablet {
      margin-bottom: @content-margin - 20px;
    }
  }
  h2 {
    margin-bottom: 15px;
    color: #757575;
  }
  h3 {
    max-width: 500px;
    float: left;
    clear: both;
    margin-bottom: @content-margin;
    @media @tablet-l {
      float: none;
      margin-bottom: 20px;
    }
  }
  p {
    font-size: 1.15em;
    max-width: 600px;
    margin-bottom: @content-margin;
    @media @tablet {
      margin-bottom: @content-margin - 20px;
    }
    &:last-of-type:not(:first-of-type) {
      text-align: right;
      float: right;
    }
    a {
      font-weight: 700;
      color: inherit;
      border-bottom: 2px solid fade(@dark, 20%);
      text-decoration: none;
    }
  }
  .diagonal-bg {
    position: relative;
    margin: 190px 0;
    &:before {
      content: '';
      position: absolute;
      top: -100px;
      right: 0;
      bottom: -100px;
      left: 0;
      //background-color: rgba(255,255,255,.3);
      background-color: @dark;
      transform: scaleX(5) rotate(-20deg);
    }
    @media @tablet {
      margin: 0;
      &:before {
        content: none;
      }
    }
  }
  .mobile-tablet-container {
    position: relative;
    overflow: auto;
    margin-bottom: @content-margin;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      display: block;
      max-width: 270px;
      width: 100%;
      float: left;
      @media @tablet {
        float: none;
        //max-width: none;
        margin: 0 auto 30px;
      }
      &:last-child {
        float: right;
        max-width: ~"calc(100% - 300px)";
        @media @tablet {
          float: none;
          max-width: none;
        }
      }
    }
  }
  .split {
    margin-bottom: @content-margin + 50px;
    clear: both;
    overflow: auto;
    @media @desktop {
      margin-bottom: 30px;
    }
    img {
      float: left;
      margin: 0 50px 0 0;
      @media @desktop {
        float: none;
        margin: 0 0 30px 0;
      }
    }
    p {
      max-width: none;
    }
    &:nth-of-type(even) {
      text-align: right;
      @media @desktop {
        text-align: left;
      }
      img {
        float: right;
        margin: 0 0 0 50px;
        @media @desktop {
          float: none;
          margin: 0 0 30px 0;
        }
      }
    }
    &:first-of-type {
      padding-top: 50px;
    }
  }
}
