.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  background-color: #c7e8ec;
  transform: translateY(-100%);
  transition: all ease .4s;
  transition-delay: .3s;
  overflow-y: scroll;
  &.slide {
    transform: translateY(0);
  }
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  span.line {
    width: 30px;
    height: 5px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 10px;
    border-radius: 5px;
    .transition;
    &:before, &:after {
      content: '';
      width: 30px;
      height: 5px;
      background-color: lighten(@dark, 20%);
      position: absolute;
      border-radius: 5px;
      .transition;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.overlay-content {
  opacity: 0;
  transition: all ease .5s;
  transition-delay: 0s;
  max-width: 1000px;
  margin:0 auto;
  padding: 100px 30px;
  &.active {
    opacity: 1;
    transition-delay: .5s;
  }
  .overlay-button {
    float: right;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    color: lighten(@text, 20%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
    border: 2px solid;
    .transition;
    &:hover {
      color: #FFF;
      background-color: @dark;
      border-color: @dark;
    }
  }
  img.main {
    max-width: 100%;
    width: 100%;
    margin-bottom: @content-margin;
  }
  h2 {
    margin-bottom: 15px;
    float: left;
    color: #757575;
  }
  h3 {
    max-width: 500px;
    float: left;
    clear: both;
    margin-bottom: @content-margin;
  }
  p {
    font-size: 1.15em;
    max-width: 600px;
    margin-bottom: @content-margin;
  }
  .two-col {
    column-count: 2;
    margin-bottom: @content-margin;
    column-gap: 50px;
  }
  .mobile-tablet-container {
    position: relative;
    overflow: auto;
    img {
      display: block;
      max-width: 270px;
      float: left;
      @media @tablet {
        float: none;
        max-width: none;
      }
      &:last-child {
        float: right;
        max-width: ~"calc(100% - 300px)";
        @media @mobile {
          float: none;
          max-width: none;
        }
      }
    }
  }
}
