// Media Queries
@desktop-wide: ~"only screen and (max-width : 1300px)";
@desktop: ~"only screen and (max-width : 992px)";
@tablet-l: ~"only screen and (max-width : 850px)";
@tablet: ~"only screen and (max-width : 768px)";
@mobile: ~"only screen and (max-width : 480px)";

// Colours
@dark: #40444d;
@text: #3f4c52;

// Misc
@padding: 50px;
@content-margin: 70px;
